<!DOCTYPE html>
<html>
<head>
    <title>IP TO ASN/ORG</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function lookup() {
            var ip = $('#ip-address').val();
            $.getJSON('/geoip?ip=' + ip, function(data) {
                $('#asn').text(data.asn);
                $('#org').text(data.org);
            }).fail(function() {
                $('#asn').text('An error occurred');
            });
        }
    </script>
</head>
<body>
    <h1>GeoIP Lookup</h1>
    <form>
        <label for="ip-address">IP address:</label>
        <input type="text" id="ip-address" name="ip-address" value="8.8.8.8">
        <input type="button" value="Lookup" onclick="lookup()">
    </form>
    <h2>Results</h2>
    <p>ASN: <span id="asn"></span></p>
    <p>Organization: <span id="org"></span></p>
</body>
</html>

